<div class=" bgimg w3-display-container w3-text-white">
  <div class="logo w3-display-middle">
    <h1 class="w3-jumbo">Mustation</h1>
    <p class="w3-large w3-center">Meticulously Curated Library</p>
  </div>
</div>